.card-container {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: max-content;
    height: max-content;
    border: none;
}

.card-img {
    height: 250px;
    width: 250px;
    background-color: gray;
}